#jsImagesErrorMessages, #jsPosterErrorMessages, #jsImageErrorMessages,#rateError{

}
.customError
{
    color: red;
    font-weight: bold;
}

#error
{
    background-color: red !important;
}

.checkbox-container
{
    display: inline-block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    margin-bottom: 30px;
}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-container .star {
    top: 0;
    left: 0;
    bottom: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url('../img/Grey_Star.png');
    background-size: cover;
}

.checkbox-container input:checked + .star {
    background-image: url('../img/Gold_Star.png');
}

iframe
{
    border-radius:12px;
    margin-top: 20px;
}

.user-background
{
    height: 300px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.user-image-little
{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.user-image-medium
{
    width: 100px;
    height: 100px;
}

.little-star
{
    height: 20px;
}

.poster-small
{
    height: 200px;
    width: auto;
    object-fit: cover;
}

.text-decoration-none
{
    color: black !important;
}

.title-movie:hover
{
    transform: scale(1.1);
}
#searchForm {
    display: flex;
    flex-direction: column;
}

#searchForm {
    display: flex;
    flex-direction: column;
}

#searchResultsList {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    top: 100%;
}

.d-flex {
    display: flex;
    align-items: center;
}

.moviePlaceNumber
{
    font-size: 100px;
    margin-bottom: -50px;
    margin-top: -20px;
    font-weight: bold;
    color: #F8D64E;
}

.moviePlaceText
{
    margin-top: 0;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: #F8D64E;
}
.imageArtistMini
{
    height: 100px;
}

.imageArtistMedium {
    height: 200px;
    width: 100px;
}

.trailer
{
    width: 100%;
}

.soundtrack
{
    width: 100%;
    border-radius: 0 !important;
}
.galleryBackground
{
    background-color: #1a202c;
}
.body
{
    height: 100%;
}
#app
{
    background-color: #233858;
    color: #E8E6D5;
    height: 200% !important;
    flex: 1;
    display: flex;
    flex-direction: column;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav
{
    box-shadow: 0px 5px 5px rgba(232, 230, 213, 0.1) !important;
}
.navbar-custom
{
    background-color: #5A7194 !important;
}

.navbar-custom .navbar-brand {
    color: #E8E6D5 !important;
}

.navbar-custom .navbar-nav .nav-link,
.navbar-custom .navbar-brand {
    color: #E8E6D5 !important;
}
.navbar-brand.navbar-custom
{
    text-shadow: 2px 2px 4px rgba(26, 32, 44, 0.5);
}
.searchIcon
{
    text-shadow: 2px 2px 4px rgba(26, 32, 44, 0.5);
}

#searchButton .bi {
    color: #E8E6D5 !important;
}
#searchInput {
    background-color: #94A5BE;
    border-color: #94A5BE;
    color: #E8E6D5;
}
#searchInput::placeholder {
    color: #E8E6D5;
}

#searchResultsList .list-group-item {
    color: #E8E6D5;
    background-color: #94A5BE;
    border-color: #94A5BE;
    border-radius: 5px;
    margin-top: -15px;
    padding: 15px;
}
.list-group-item:hover
{
    text-shadow: 2px 2px 4px rgba(26, 32, 44, 0.5);
}
.navbar-nav .nav-item.dropdown .dropdown-menu {
    background-color:#94A5BE;
}
.dropdown-item
{
    color: #E8E6D5 !important;
}
.dropdown-item:hover {
    text-shadow: 2px 2px 4px rgba(26, 32, 44, 0.5);
    background-color: #94A5BE !important;
}

.footer-custom
{
    background-color: #5A7194;
    color: #E8E6D5;
    box-shadow: 0px -5px 5px rgba(232, 230, 213, 0.1) !important;
    text-shadow: 2px 2px 4px rgba(26, 32, 44, 0.5);
}

.custom-header
{
    text-shadow: 5px 5px 8px rgba(232, 230, 213, 0.1) !important;
}

.quiz-image
{
    box-shadow: 0px 5px 5px rgba(232, 230, 213, 0.1), 0px -5px 5px rgba(232, 230, 213, 0.1), 5px 0px 5px rgba(232, 230, 213, 0.1), -5px 0px 5px rgba(232, 230, 213, 0.1);}

