#jsImagesErrorMessages, #jsPosterErrorMessages, #jsImageErrorMessages,#rateError{

}
.customError
{
    color: #c03939;
    font-weight: bold;
}

#error
{
    background-color: #c03939 !important;
}
.invalid-feedback
{
    color: #E4A4A4 !important;
    font-weight: normal !important;
}
.checkbox-container
{
    display: inline-block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    margin-bottom: 30px;
}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-container .star {
    top: 0;
    left: 0;
    bottom: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url('../img/Grey_Star.png');
    background-size: cover;
}

.checkbox-container input:checked + .star {
    background-image: url('../img/Gold_Star.png');
}

iframe
{
    border-radius:12px;
    margin-top: 20px;
}

.user-background
{
    height: 300px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.user-image-little
{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.user-image-medium
{
    width: 100px;
    height: 100px;
}

.little-star
{
    height: 20px;
}

.poster-small
{
    height: 200px;
    width: auto;
    object-fit: cover;
}

.text-decoration-none
{
    color: black !important;
}

.title-movie:hover
{
    transform: scale(1.1);
}
#searchForm {
    display: flex;
    flex-direction: column;
}

#searchForm {
    display: flex;
    flex-direction: column;
}

#searchResultsList {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    top: 100%;
}

.d-flex {
    display: flex;
    align-items: center;
}

.moviePlaceNumber
{
    font-size: 100px;
    margin-bottom: -50px;
    margin-top: -20px;
    font-weight: bold;
    color: #F8D64E;
}

.moviePlaceText
{
    margin-top: 0;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: #F8D64E;
}
.imageArtistMini
{
    height: 100px;
}

.imageArtistMedium {
    height: 200px;
    width: 100px;
}

.trailer
{
    width: 100%;
}

.soundtrack
{
    width: 100%;
    border-radius: 0 !important;
}
.galleryBackground
{
    background-color: #1a202c;
}
.body
{
    height: 100%;
}
#app
{
    background-color: #233858;
    color: #E8E6D5;
    height: 200% !important;
    flex: 1;
    display: flex;
    flex-direction: column;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav
{
    box-shadow: 0px 5px 5px rgba(232, 230, 213, 0.1) !important;
}
.navbar-custom
{
    background-color: #5A7194 !important;
}

.navbar-custom .navbar-brand {
    color: #E8E6D5 !important;
}

.navbar-custom .navbar-nav .nav-link,
.navbar-custom .navbar-brand {
    color: #E8E6D5 !important;
}
.navbar-brand.navbar-custom
{
    text-shadow: 2px 2px 4px rgba(26, 32, 44, 0.5);
}
.searchIcon
{
    text-shadow: 2px 2px 4px rgba(26, 32, 44, 0.5);
}

#searchButton .bi {
    color: #E8E6D5 !important;
}
#searchInput {
    background-color: #94A5BE;
    border-color: #94A5BE;
    color: #E8E6D5;
}
#searchInput::placeholder {
    color: #E8E6D5;
}

#searchResultsList .list-group-item {
    color: #E8E6D5;
    background-color: #94A5BE;
    border-color: #94A5BE;
    border-radius: 5px;
    margin-top: -15px;
    padding: 15px;
}
.list-group-item:hover
{
    text-shadow: 2px 2px 4px rgba(26, 32, 44, 0.5);
}
.navbar-nav .nav-item.dropdown .dropdown-menu {
    background-color:#94A5BE;
}
.dropdown-item
{
    color: #E8E6D5 !important;
}
.dropdown-item:hover {
    text-shadow: 2px 2px 4px rgba(26, 32, 44, 0.5);
    background-color: #94A5BE !important;
}

.footer-custom
{
    background-color: #5A7194;
    color: #E8E6D5;
    box-shadow: 0px -5px 5px rgba(232, 230, 213, 0.1) !important;
    text-shadow: 2px 2px 4px rgba(26, 32, 44, 0.5);
}

.custom-header
{
    text-shadow: 5px 5px 8px rgba(232, 230, 213, 0.1) ;
}

.quiz-image
{
    box-shadow: 0px 5px 5px rgba(232, 230, 213, 0.1), 0px -5px 5px rgba(232, 230, 213, 0.1), 5px 0px 5px rgba(232, 230, 213, 0.1), -5px 0px 5px rgba(232, 230, 213, 0.1);
}

.navbar-toggler-icon
{
    color: #E8E6D5;
    border-color: #233858 !important;
}

.customToggler
{
    color: #E8E6D5 !important;
    border-color: #5A7194 !important;
}

.customToggler:focus {
    color: #5A7194 !important;
    border-color: #5A7194 !important;
}

.icon-color
{
    color: #E8E6D5;
}

.icon-color:hover
{
    color: #6dae7b;
}

.title-movie
{
    color: #E8E6D5 !important;
    text-shadow: 2px 2px 8px rgba(232, 230, 213, 0.1) !important;
}

.movie-fav
{
    color: #c03939;
}

.movie-watch
{
    color: #6dae7b;
}

.delete-icon
{
    color: #c03939;
}

.edit-icon
{
    color: #F8D64E;
}
.add-icon
{
    color: #6dae7b;
}

.custom-header h1 {
    color: #E8E6D5;
}

.custom-header h5 {
    color: #E8E6D5;
}

.custom-text h5 {
    color: #E8E6D5;
}

.custom-text h3
{
    color: #E8E6D5;
}

.custom-text p {
    color: #E8E6D5;
}

.custom-header-latest h1 {
    color: #E8E6D5;
}

.custom-header-latest h5 {
    color: #E8E6D5;
}

.quiz-vote
{
    box-shadow: 0px 5px 5px rgba(248, 214, 78, 0.5), 0px -5px 5px rgba(248, 214, 78, 0.5), 5px 0px 5px rgba(248, 214, 78, 0.5), -5px 0px 5px rgba(248, 214, 78, 0.5);
}

.vote h5, .vote p
{
    color: #F8D64E;
}

.form input
{
    background-color: #94A5BE;
    border-color: #94A5BE;
    color: #E8E6D5;
}
.form input:focus
{
    background-color: #94A5BE;
    border-color: #94A5BE;
    color: #E8E6D5;
}

.form textarea
{
    background-color: #94A5BE;
    border-color: #94A5BE;
    color: #E8E6D5;
}
.form textarea:focus
{
    background-color: #94A5BE;
    border-color: #94A5BE;
    color: #E8E6D5;
}

.form select
{
    background-color: #94A5BE;
    border-color: #94A5BE;
    color: #E8E6D5;
}
.form select:focus
{
    background-color: #94A5BE;
    border-color: #94A5BE;
    color: #E8E6D5;
}

.add-button
{
    background-color: #94A5BE !important;
    color: #E8E6D5 !important;
}

.add-button:hover
{
    color: #233858 !important;
}

.modal-header {
    background-color: #5A7194;
    color: #E8E6D5;
    border-color: #5A7194 !important;
    margin: 0 !important;
}

.modal-body
{
    background-color: #5A7194;
    color: #E8E6D5;
    border-color: #5A7194 !important;
    margin: 0 !important;
}

.modal-footer
{
    background-color: #5A7194 !important;
    color: #E8E6D5;
    border-color: #5A7194 !important;
    margin: 0 !important;
}

.modal-body {
    margin: 0;
}

.table-color th,
.table-color td {
    background-color: #94A5BE !important;
    border-color: #94A5BE !important;
    color: #E8E6D5 !important;
}
.custom-tr th, .custom-tr td {
    background-color:  #5A7194 !important;
}
.admin-button-delete {
    background-color: transparent;
    border: 2px solid #c03939 !important;
    color: #c03939 !important;
}
.admin-button-delete:hover {
    background-color: #c03939 !important;
    color: #E8E6D5 !important;
}

.admin-button-edit {
    background-color: transparent;
    border: 2px solid #F8D64E !important;
    color: #F8D64E !important;
}
.admin-button-edit:hover {
    background-color: #F8D64E !important;
    color: #E8E6D5 !important;
}
.admin-button
{
    font-weight: bold !important;
    border-width: 2px !important;
    border-style: solid !important;
}

.add-icon-admin
{
    color: #329c40;
}
.custom-card
{
    border: 0 !important;
    color: #E8E6D5 !important;
    border-radius: 10px !important;
}
.custom-card-header
{
    background-color: #5A7194 !important;
    border-color: #94A5BE !important;
}

.custom-card-body
{
    border: 0;
    background-color: #5A7194 !important;
    border-radius: 0 0 5px 5px !important;
}
 .result-custom
 {
     width: 71.9% !important;
 }

 .two-col
 {
     margin-left: -10px;
 }

 .custom-buttons
 {
     margin-top: -30px;
 }

 .custom-place
 {
     margin-top: 20px !important;
 }
