#jsImagesErrorMessages, #jsPosterErrorMessages, #jsImageErrorMessages,#rateError{

}
.customError
{
    color: red;
    font-weight: bold;
}


#error
{
    background-color: red !important;
}

.checkbox-container
{
    display: inline-block;
    position: relative;
    padding-left: 33px;
    cursor: pointer;
    margin-bottom: 30px;
}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-container .star {
    top: 0;
    left: 0;
    bottom: 20px;
    position: absolute;
    height: 25px;
    width: 25px;
    background-image: url('../img/Grey_Star.png');
    background-size: cover;
}

.checkbox-container input:checked + .star {
    background-image: url('../img/Gold_Star.png');
}

iframe
{
    border-radius:12px;
    margin-top: 20px;
}

.user-background
{
    height: 300px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.user-image-little
{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.user-image-medium
{
    width: 100px;
    height: 100px;
}

.little-star
{
    height: 20px;
}

.poster-small
{
    height: 200px;
    width: auto;
    object-fit: cover;
}

.text-decoration-none
{
    color: black !important;
}

.title-movie:hover
{
    transform: scale(1.1);
}
